.details {
  background-size: cover;
}
.details > div{
  margin-top: 300px;
  background-size: cover;
}

.poster {
  height: 297px;
  width: 200px;
}

.minor_details dt {
  clear: left;
  float: left;
  font-weight: bold;
  min-width: 100px;
}

.minor_details dd {
  float: left;
  min-width: 100px;
  clear: right;
}
